<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book My Show</title>
    <link rel="stylesheet" href="./bookmyshow.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


</head>
<body>
    <nav class="navbar">
        <div class="navbarimg">
            <div class="img"></div>
            <div class="navbarsearch">
                <input class="search" type="search"
                    placeholder="search for movies, Events, Plays, Sports and Activities">
            </div>
            <div class="navbutton">
                <a class="city" href="">Rajkot <i style="font-size: 10px;" class="fa-solid fa-chevron-down"></i></a>
                <a class="addmovie" href="/addpage">Add Movie</a>
                <a href=""><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>
    </nav>
    <nav class="navoption">
        <div class="left">
            <div class="left-name">
                <a href="">Movies</a>
                <a href="">stream</a>
                <a href="">Events</a>
                <a href="">Plays</a>
                <a href="">Sports</a>
                <a href="">Activities</a>
            </div>
            <div class="middle"></div>
            <div class="right">
                <a href="">ListYourShow</a>
                <a href="">Corporates</a>
                <a href="">offers</a>
                <a href="">Gift Cards</a>
            </div>
        </div>
    </nav>

    <!-- slider -->
<div class="slider">
    <div class="home-demo">
       
        <div class="owl-carousel owl-theme">


          <div class="item">
            <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1735801396740_movieweb2.jpg" alt="">
          </div>
          <div class="item">
            <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1726036566435_playcardnewweb.jpg" alt="">
          </div>


          
        </div>
      </div>
    </div>

    <div class="movielist">
        <div class="nameplat">
         <h3>Recommended Movies</h3>
         <button>See All ></button>   
        </div>

        <!-- movielist -->
        <div class="moviecard">
            <div class="movie">
                <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC40LzEwICA0MzAuM0sgVm90ZXM%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00356724-gsglcmjwxd-portrait.jpg" alt="">
                <h4>Pushpa 2:The Rule</h4>
                <p>Action/Thriller</p>
            </div>
            <div class="movie">
                <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-Ny45LzEwICBFYXJseSBSYXRpbmdz,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00419713-paygjlfgag-portrait.jpg" alt="">
                <h4>Victor 303</h4>
                <p>Action/Drama</p>
            </div>
            <div class="movie">
                <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC42LzEwICA4OC4xSyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00416394-jmmlluuywc-portrait.jpg" alt="">
                <h4>Marco</h4>
                <p>
                    Action
                    /
                    Thriller
                    </p>
            </div>
            <div class="movie">
                <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC40LzEwICA1OC4xSyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00396541-epynyumney-portrait.jpg" alt="">
                <h4>Mufasa</h4>
                <p>Adventure
                    /
                    Animation
                    /
                    Drama
                    </p>
            </div>
            <div class="movie">
                <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC4xLzEwICAxMDUgVm90ZXM%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00423687-vzjfnmqblz-portrait.jpg" alt="">
                <h4>Kaashi Raaghav</h4>
                <p>Drama</p>
            </div>

            <%data.map((e)=>{%>
                <div class="movie">
                    <img src="<%=e.image%>" alt="">
                    <h4><%=e.name%></h4>
                    <p><%=e.type%></p>
                    <a class="s1" href="/edit?id=<%=e.id%>">
                        <button class="edit"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
                    </a>
                    <a class="s2" href="/delete?id=<%=e.id%>">
                        <button class="delete"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                    </a>
                </div>
            <%})%>
        </div>
        

    </div>

</body>
</html>
<script>
    $(function() {
  // Owl Carousel
  var owl = $(".owl-carousel");
  owl.owlCarousel({
    items: 1,
    margin: 10,
    loop: true,
    dots:false,
    autoplay: true,        
    autoplayTimeout: 2000, 
    autoplayHoverPause: true,
    
  });
});



</script>